:root{
    --beige: #E1CEB5;
    --green: #green;
    --coffee: #D0B8A8;
    --teal: #ADDDD0;
}
.body{
    background-color: var(--coffee);
}
.pages{
    margin: 0px;
    list-style-type: none;
    justify-content: flex-end;
    display: flex;
    gap: 20px;
}